name: CI - Node.js - i18n - Submodule
on:
  push:
    branches:
    - chore/update-i18n-curriculum-submodule
  workflow_dispatch: null
permissions:
  contents: read
jobs:
  test-curriculum:
    name: Test Curriculum
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 24
        locale:
        - chinese
        - espanol
        - ukrainian
        - japanese
        - german
        - swahili
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        submodules: recursive
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      id: pnpm-install
      with:
        run_install: false
    - name: Setup Turbo Cache
      uses: ./.github/actions/setup-turbo-cache
      with:
        turbo-token: ${{ secrets.TURBO_TOKEN }}
        turbo-signature-key: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
    - name: Set Environment variables
      run: 'cp sample.env .env

        '
    - name: Install node_modules
      run: pnpm install
    - name: Build Client in ${{ matrix.locale }}
      env:
        CURRICULUM_LOCALE: ${{ matrix.locale }}
        CLIENT_LOCALE: ${{ matrix.locale }}
      run: 'pnpm run build

        '
    - name: Install Chrome for Puppeteer
      run: pnpm -F=curriculum install-puppeteer
    - name: Run Tests
      env:
        CURRICULUM_LOCALE: ${{ matrix.locale }}
        CLIENT_LOCALE: ${{ matrix.locale }}
      run: pnpm -F=curriculum test-content
