name: CD - Docker - DOCR Cleanup Container Images
on:
  workflow_dispatch: {}
jobs:
  remove:
    name: Delete Old Images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        repos:
        - learn-api
        variants:
        - dev
        - org
    steps:
    - name: Install doctl
      uses: digitalocean/action-doctl@135ac0aa0eed4437d547c6f12c364d3006b42824
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
    - name: Log in to DigitalOcean Container Registry with short-lived credentials
      run: doctl registry login --expiry-seconds 1200
    - name: Delete Images
      uses: raisedadead/action-docr-cleanup@1c7d87369bccfdf5da03a9ae3b00eacc3f2a9b51
      with:
        repository_name: ${{ matrix.variants }}/${{ matrix.repos }}
        days: '7'
        keep_last: '3'
