name: CD - Docker - GHCR (Gitpod)
on:
  workflow_dispatch: null
  push:
    branches:
    - main
    paths:
    - docker/gitpod/*
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        images:
        - gitpod
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
    - name: Log in to the GHCR
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Cache Docker layers
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ matrix.images }}-${{ github.sha }}
        restore-keys: '${{ runner.os }}-buildx-${{ matrix.images }}-

          '
    - name: Build and push Docker image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
      with:
        context: ./docker/${{ matrix.images }}
        push: true
        tags: 'ghcr.io/freecodecamp/${{ matrix.images }}:${{ github.sha }}

          ghcr.io/freecodecamp/${{ matrix.images }}:latest

          '
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
    - name: Move cache
      run: 'rm -rf /tmp/.buildx-cache

        mv /tmp/.buildx-cache-new /tmp/.buildx-cache

        '
