name: GitHub - No translations via PRs
on:
  workflow_dispatch: {}
jobs:
  has-translation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
      with:
        github-token: ${{secrets.CAMPERBOT_NO_TRANSLATE}}
        script: "const isDev = await github.rest.teams.getMembershipForUserInOrg({\n\
          \  org: \"freeCodeCamp\",\n  team_slug: \"dev-team\",\n  username: context.payload.pull_request.user.login\n\
          }).catch(() => ({status: 404}));\nif (context.payload.pull_request.user.login\
          \ !== \"camperbot\" && isDev.status !== 200) {\n  core.setFailed('This PR\
          \ appears to touch translated curriculum files.')\n  github.rest.issues.createComment({\n\
          \    issue_number: context.issue.number,\n    owner: context.repo.owner,\n\
          \    repo: context.repo.repo,\n    body: \"Thanks for your pull request.\\\
          n\\n**Please remove the changes made to the non-English versions of the\
          \ files. No need to close this pull request; just add more commits as needed.**\\\
          n\\nWe require you to change **only English** versions of files in the codebase.\
          \ Translations to corresponding files in other world languages are managed\
          \ on our translation platform. Once your pull request is merged, changes\
          \ will be synced automatically to other world languages.\\n\\nPlease visit\
          \ [our contributing guidelines](https://contribute.freecodecamp.org) to\
          \ learn more about translating freeCodeCamp's resources.\\n\\nAs always,\
          \ we value all of your contributions.\\n\\nHappy contributing!\\n\\n---\\\
          n_**Note:** This message was automatically generated by a bot. If you feel\
          \ this message is in error or would like help resolving it, feel free to\
          \ reach us [in our contributor chat](https://discord.gg/PRyKn3Vbay)._\"\n\
          \  })\n} else if (isDev.status === 200) {\n  core.setFailed('This PR appears\
          \ to touch translated curriculum files, but since you are on the dev team\
          \ there is no message.');\n}\n"
