name: GitHub - Autoclose Invalid PRs
on:
  workflow_dispatch: {}
jobs:
  autoclose:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: "const files = await github.rest.pulls.listFiles({\n  owner: context.payload.repository.owner.login,\n\
          \  repo: context.payload.repository.name,\n  pull_number: context.payload.pull_request.number,\n\
          });\nif (\n  files.data.length !== 1 ||\n  (files.data[0].filename !== \"\
          .gitignore\" &&\n  // We've had four PRs make this same (irrelevant) change\
          \ already.\n    !(files.data[0].filename === \"664ef4623946e65e18d59764.md\"\
          \ &&\n      files.data[0].patch.includes(\"return re.sub('(?<!\\d)1', '',\
          \ equation_string.strip('+'))\")\n    )\n  )\n) {\n  return;\n}\nconst creator\
          \ = context.payload.sender.login;\nconst opts = github.rest.issues.listForRepo.endpoint.merge({\n\
          \  ...context.issue,\n  creator,\n  state: 'all'\n});\nconst issues = await\
          \ github.paginate(opts);\n\n// iterate through issues\nfor (const issue\
          \ of issues) {\n  // if the issue is this one, keep looking\n  if (issue.number\
          \ === context.issue.number) {\n    continue;\n  }\n\n  // if the issue is\
          \ actually a PR, they're not a first timer\n  if (issue.pull_request) {\n\
          \    return // Creator is already a contributor.\n  }\n}\ncore.setFailed(\"\
          Invalid PR detected.\");\ngithub.rest.issues.createComment({\n  issue_number:\
          \ context.issue.number,\n  owner: context.repo.owner,\n  repo: context.repo.repo,\n\
          \  body: \"Thank you for opening this pull request.\\n\\nThis is a standard\
          \ message notifying you that we've reviewed your pull request and have decided\
          \ not to merge it. We would welcome future pull requests from you.\\n\\\
          nThank you and happy coding.\",\n});\nawait github.rest.pulls.update({\n\
          \  owner: context.payload.repository.owner.login,\n  repo: context.payload.repository.name,\n\
          \  pull_number: context.payload.pull_request.number,\n  state: \"closed\"\
          \n});\nawait github.rest.issues.addLabels({\n  owner: context.payload.repository.owner.login,\n\
          \  repo: context.payload.repository.name,\n  issue_number: context.issue.number,\n\
          \  labels: [\"spam\"]\n});\n"
