name: GitHub - Label PRs
on:
  workflow_dispatch: {}
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.workflow_run.head_branch
    || github.ref }}
  cancel-in-progress: true
jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        sync-labels: true
