name: GitHub - No Commits on GitHub Web
on:
  pull_request_target:
    types:
    - opened
    - reopened
jobs:
  has-web-commits:
    runs-on: ubuntu-latest
    steps:
    - name: Check if PR author is allow-listed
      id: pr_author
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: "const prAuthor = context.payload.pull_request.user.login;\nconst\
          \ allowedTeams = ['moderators', 'staff'];\nlet isAllowListed = prAuthor\
          \ === 'renovate[bot]';\nif (!isAllowListed) {\n  for (const team of allowedTeams)\
          \ {\n    const response = await github.rest.teams\n      .getMembershipForUserInOrg({\n\
          \        org: context.repo.owner,\n        team_slug: team,\n        username:\
          \ prAuthor\n      })\n      .catch(() => ({ status: 404 }));\n    if (response.status\
          \ === 200) {\n      isAllowListed = true;\n      break;\n    }\n  }\n}\n\
          core.setOutput('is_allow_listed', isAllowListed);\n"
    - name: Check if commits are made on GitHub Web UI
      id: check-commits
      if: steps.pr_author.outputs.is_allow_listed == 'false'
      run: "PR_NUMBER=$(jq --raw-output .pull_request.number \"$GITHUB_EVENT_PATH\"\
        )\nCOMMITS_URL=\"https://api.github.com/repos/$GITHUB_REPOSITORY/pulls/$PR_NUMBER/commits\"\
        \nIS_GITHUB_COMMIT=$(curl --header \"Authorization: Bearer ${{ secrets.GITHUB_TOKEN\
        \ }}\" \"$COMMITS_URL\" | jq '[.[] | select(.commit.committer.name == \"GitHub\"\
        ) | select(.commit.message | test(\"revert\"; \"i\") | not)] | length > 0')\n\
        if [ \"$IS_GITHUB_COMMIT\" = \"true\" ]; then\n  echo \"IS_GITHUB_COMMIT=true\"\
        \ >> $GITHUB_ENV\nfi\n"
    - name: Add comment on PR if commits are made on GitHub Web UI
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
      if: steps.pr_author.outputs.is_allow_listed == 'false' && env.IS_GITHUB_COMMIT
        == 'true'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: "core.setFailed(\"Commits were added via the GitHub Web UI.\");\n\
          github.rest.issues.createComment({\n  issue_number: context.issue.number,\n\
          \  owner: context.repo.owner,\n  repo: context.repo.repo,\n  body: \"Thanks\
          \ for your pull request.\\n\\n**Please do not add commits via the GitHub\
          \ Web UI.**\\n\\nIt generally means you have yet to test these changes in\
          \ a development setup or complete any prerequisites. We need you to follow\
          \ the guides mentioned in the checklist. Please revalidate these changes\
          \ in a developer environment and confirm how you validated your changes.\\\
          n\\nHappy contributing!\\n\\n---\\n_**Note:** This message was automatically\
          \ generated by a bot. If you feel this message is in error or would like\
          \ help resolving it, feel free to reach us [in our contributor chat](https://discord.gg/PRyKn3Vbay)._\"\
          \n});\n"
