name: i18n - Curriculum PR Validation
on:
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.workflow_run.head_branch
    || github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    name: Validate i18n Builds
    if: ${{ github.event.pull_request.user.login == 'camperbot' && contains(github.event.pull_request.title,
      'chore(i18n,learn)') }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version:
        - 24
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        submodules: recursive
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      id: pnpm-install
      with:
        run_install: false
    - name: Set freeCodeCamp Environment Variables
      run: 'sed ''/^[[:space:]]*#/d; /^$/d'' sample.env >> $GITHUB_ENV

        '
    - name: Install Dependencies
      run: pnpm install
    - name: Validate Challenge Files
      id: validate
      run: pnpm run audit-challenges
    - name: Create Comment
      if: ${{ failure() && steps.validate.conclusion == 'failure' }}
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
      with:
        github-token: ${{secrets.CAMPERBOT_NO_TRANSLATE}}
        script: "github.rest.issues.createComment({\n  issue_number: context.issue.number,\n\
          \  owner: context.repo.owner,\n  repo: context.repo.repo,\n  body: \"Hey\
          \ @freecodecamp/i18n, it looks like we have new English curriculum files\
          \ that need to be translated.\"\n})\n"
